@import 'utilities/variables.scss';
@import 'utilities/fontawesome.scss';
@import 'fonts.scss';

/* MODULES */ 

@import 'modules/nav.scss';
@import 'modules/header.scss';


/* RESET */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL */

body {
    font-family: 'Avenir Next';
    display: grid;
    grid-template-columns: 225px 1fr;
}

